{% extends "base.html" %}

{% block main %}
<div id="app">
    <app-header></app-header>

    <main>
        <div class="container">
            <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" >
                <h4>{{form.description.label}}</h4>
                {{form.description}}
                <h4>{{form.photo.label}}</h4>
                {{form.photo}}
                <br><br>
                <button class="submit_btn">Submit</button>
                <br><br>
            </form>
            <router-view></router-view>
        </div>
    </main>

    <app-footer></app-footer>
</div>
{% endblock %}